<section id="about">
    <p class="section__text__p1">Get To Know More</p>
    <h1 class="title">About Me</h1>
    <div class="section-container">
      <div class="section__pic-container">
        <img
          [src]="Images.MY_PROFILE_PIC_1"
          alt="Profile picture"
          class="about-pic"
        />
      </div>
      <div class="about-details-container">
        <div class="about-containers">
          <div class="details-container">
            <img
            [src]="Images.EXPERIENCE"
              alt="Experience icon"
              class="icon"
            />
            <h3>Experience</h3>
            <p>10 months <br />Fullstack Development</p>
          </div>
          <div class="details-container">
            <img
            [src]="Images.EDUCATION"
              alt="Education icon"
              class="icon"
            />
            <h3>Education</h3>
            <p>Dropped out from University of Computer Studies - Magway</p>
            <!-- <p>B.Sc. Bachelors Degree<br />M.Sc. Masters Degree</p> -->
          </div>
        </div>
        <div class="text-container">
          <p>
            As a versatile full-stack developer, I bring a dynamic blend of technical expertise and an insatiable appetite for learning to the table. My foundation in computer science, though unconventional, is marked by a rich tapestry of hands-on experience and a passion for innovation.
            Technical Mastery: Proficient in Java, Spring Boot, and TypeScript, I navigate the intricate landscape of software development with finesse. My adeptness in Angular adds another dimension to my skill set, allowing me to craft seamless user experiences across the front-end spectrum.
            Database Proficiency: My familiarity with PostgreSQL underscores my capability to architect robust and scalable database solutions, ensuring data integrity and performance optimization.
            Learning Mindset: While my journey may have diverged from the traditional academic trajectory, my commitment to continual growth remains unwavering. Every challenge is an opportunity to broaden my horizons, and I eagerly embrace emerging technologies and best practices to stay ahead of the curve.
            Team Player: Collaborative by nature, I thrive in environments where synergy and camaraderie drive innovation. Whether brainstorming solutions or troubleshooting complex issues, I bring a proactive and collaborative approach to every project.
            In essence, I am more than a sum of my technical skills; I am a dynamic force fueled by curiosity, resilience, and an unwavering dedication to excellence in software development.
          </p>
        </div>
      </div>
    </div>
    <img
    [src]="Images.ARROW"
      alt="Arrow icon"
      class="icon arrow"
      onclick="location.href='./#experience'"
    />
</section>